<div id="container">
    <h4>{{room.name}}</h4>
    <p>{{room.description}}</p>
    <p>{{room.price}}</p>
    <p>{{room.owner}}</p>
    <a href="/protected/rooms/{{room._id}}/delete">Delete the room</a>
</div>